#root {
  max-width: 650px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: var(--neutral-white);
  border-radius: 30px;
  border-bottom-right-radius: 100px;
}


/* BASE STYLES */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


/* FORM */

.form {
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-bottom: 1px solid var(--neutral-light-grey);
  padding-bottom: 1.5em;
  margin-bottom: 1.75em;
}

.form__data-container {
  display: flex;
  flex-direction: column;
  margin-right: .5em;
}

.label {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--neutral-smoke-grey);
  font-size: .3rem;
  font-weight: var(--fw-bold);
  margin-bottom: .5em;
}

.input {
  width: 3.125em;
  font-family: inherit;
  font-weight: var(--fw-bold);
  font-size: .5rem;
  color: var(--neutral-off-black);
  border: 1px solid var(--neutral-light-grey);
  border-radius: 5px;
  padding: .5em;
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-btn {
  border: none;
  background-color: var(--primary-purple);
  border-radius: 50%;
  padding: 1.05em;
  cursor: pointer;
  position: absolute;
  top: 73%;
  left: 39%;
}

.submit-btn:hover {
  background-color: var(--neutral-off-black);
}

.btn-img {
  width: 1.875em;
  height: 1.875em;
}

/* RESULTS */

.results {
  line-height: 1.8rem;
  font-size: 1.45rem;
  font-weight: var(--fw-bolder);
  font-style: italic;
}

.results--number {
  color: var(--primary-purple);
  margin-right: .25em;
}


/* MEDIA QUERIES */

@media (min-width: 400px) {
  .form { 
    width: 100%;
    max-width: 600px; 
  }

  .input {
    font-size: .65rem;
    width: 2.95em;
  }

  .submit-btn { 
    top: 77%;
    left: 85%;
  }

  .results {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

@media (min-width: 475px) {
  .input {
    font-size: .75rem;
    width: 3em;
  }

  .submit-btn {
    top: 80%;
    left: 88%;
  }

  .results {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 500px) {
  .input {
    font-size: .80rem;
  }

  .submit-btn {
    left: 92%;
    padding: 1.25em;
  }

  .results {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  .submit-btn {
    padding: 1.75em;
    top: 70%;
    left: 88%;
  }

  .btn-img {
    width: 2.5em;
    height: 2.5em;
  }
}
